div(id='footer')
  div.container
    p.text-muted="The Paladin Mobile Aggregator “Operator” is copyright © Paladin Innovators LLC, 2013 - All rights reserved."


script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
script(src='/bootstrap/js/bootstrap.min.js')
