div.footer
  span
    a(href='/register')!= "Register Stream"
  span |
  span
    a(href='/registered-streams')!= "Reroute"
  span |
  span
    a(href='/reroute-stop')!= "Stop Reroute"
  span |
  span
    a(href='/configuration')!= "Configuration"
