extends layout

block content
  div.container  
    div.row
      div.col-md-4
        h1= title
        form.form-horizontal(method="post", id="configForm")
          div(class='input-group')
            span(class='input-group-addon')='New Stream'
            input.form-control(name="stream-name", id="editStreamName", placeholder="stream name")                
          
          input.btn.btn-default(type="submit", value="Register")