a
  color: #00B7FF
  
#registerNewStream
  margin-top: 10px

div.footer
  margin-top: 10px

div.footer span
  padding-left: 2px
  padding-right: 3px

span.input-group-addon
  min-width: 120px
  text-align: lefts